<section class="section-information">
    <div class="Information">
        <div class="social">
            <ul class="social__icons">
                <li class="social__icons--item"><i class="fab fa-facebook fab-fb"></i></li>
                <li class="social__icons--item"><i class="fab fa-instagram fab-ig"></i></li>
                <li class="social__icons--item"><i class="fab fa-twitter fab-tt"></i></li>
                <li class="social__icons--item"><i class="fab fa-youtube fab-yt"></i></li>
            </ul>
        </div>
        <div class="Address">
            <ul class="contact">
                <li id="OurPhoneNumber"><b>Phone: </b>(+84) 337430695</li>
                <li id="OurAddress"><b>Address: </b>KTX khu B - ĐHQG TP HCM </li>
                <li id="OurEmail"><b>Email: </b>bluecloud@work@email.com</li>
            </ul>
        </div>
    </div>
</section>