 <header class="header">
        <div class="navbar">
            <div class="row v-center navbar-container">
                <div class="header-item item-left">
                    <div class="logo">
                        <a href="/homepage">Blue Book</a>
                    </div>
                </div>
                <!-- menu start here -->
                <div class="header-item item-center">

                    <nav class="menu">

                        <ul class="menu-main">
                            <li>
                                <a href="/homepage">trang chủ</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">thể loại   <i class="fa fa-angle-down"></i></a>
                                <div class="sub-menu mega-menu mega-menu-column-4">
                                    <div class="list-item">
                                        <h4 class="title">VĂN HỌC</h4>
                                        <ul>
                                            <li><a href="/subject/1/Truyện tranh">Truyện tranh</a></li>
                                            <li><a href="/subject/2/Truyện ngắn Tản Văn">Truyện ngắn - Tản Văn</a></li>
                                            <li><a href="/subject/3/Sách giáo khoa">Sách giáo khoa</a></li>
                                            <li><a href="/subject/4/Ngôn tình">Ngôn tình</a></li>
                                        </ul>
                                    </div>
                                    <div class="list-item">
                                        <h4 class="title">KINH TẾ</h4>
                                        <ul>
                                            <li><a href="/subject/5/Bài học kinh doanh">Bài học kinh doanh</a></li>
                                            <li><a href="/subject/6/Quản trị - Lãnh đạo">Quản trị - Lãnh đạo</a></li>
                                            <li><a href="/subject/7/Martketing - Bán hàng">Martketing - Bán hàng</a></li>
                                            <li><a href="/subject/8/Phân tích kinh tế">Phân tích kinh tế</a></li>

                                        </ul>

                                    </div>
                                    <div class="list-item">
                                        <h4 class="title">TÂM LÝ & KỸ NĂNG SỐNG</h4>
                                        <ul>
                                            <li><a href="/subject/9/Kỹ năng sống">Kỹ năng sống</a></li>
                                            <li><a href="/subject/10/Rèn luyện nhân cách">Rèn luyện nhân cách</a></li>
                                            <li><a href="/subject/11/Tâm lí">Tâm lí</a></li>
                                            <li><a href="/subject/12/Sách cho tuổi mới lớn">Sách cho tuổi mới lớn</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header-item item-mid">

                    <form class="form-inline" action="/search" method="get">
                        <input class="form-control shadow-none mr-sm-2 form-search-input" type="search" id="search" name="search" placeholder="Search" value="{{search_key}}" aria-label="Search">
                        <button class="btn form-search-icon shadow-none" type="submit"><i class="fas fa-search"></i></button>
                    </form>

                </div>
                <!-- menu end here -->

                <div class="header-item item-right">
                    <div>
                        <a href="/shopping-cart"><i class="fas fa-shopping-cart">

                            <span id="cart-amount">
                                {{#if user}}
                                    {{user.quantity}}
                                {{else}}
                                    0
                                {{/if}}
                                </span>
                        </i>
                        </a>
                    </div>
                    <div class="nav-account">
                        <a><i class="fa-regular fa-user"></i></a>
                        <div class="sub-menu">
                            <div class="list-item list-option">
                                <ul>
                                    {{#if user}}                                   
                                    <li><a href="/account/update">
                                    
                                    <img src="https://www.coolmate.me/images/header/icon-account.svg" style="width:15px; display:inline-block; margin-top:-5px; margin-right:5px">Thông tin tài khoản</a></li>
                                    <li><a href="/list-order"><img src="https://www.coolmate.me/images/header/icon-order.svg" alt="danhsach-icon" style="width:15px; display:inline-block; margin-top:-5px; margin-right:5px">Danh sách đơn hàng</a></li>
                                    
                                     <li><a href="/auth/logout"><img src="https://www.coolmate.me/images/header/icon-logout.svg" alt="danhsach-icon" style="width:15px; display:inline-block; margin-top:-5px; margin-right:5px">Đăng xuất</a></li>
                                    
                                    {{else}}
                                    <li><a href="/auth/login">Đăng nhập</a></li>
                                    <li>
                                        <a href="/auth/logup">Đăng kí</a>
                                    </li>
                                    {{/if}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>