<!DOCTYPE html>
<html lang="en" id="html" class="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{!-- <link rel="icon" type="image/x-icon" href="../../img/bluecloud.png"> --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
   
    <title>{{title}}</title>
    
    {{!-- Link css main - trang nào cũng dùng --}}
    {{>cssmain}}
    {{>(cssCs)}}
    
</head>

<body>
    
    <div class="body">
        {{>nav}}
         {{{body}}}
        
        {{>contact}}
        {{>footer}} 
    </div>

    {{!-- link script js --}}
    {{>scriptmain}}
    {{>(scriptCs)}}
</body>
</html>
