.container {
    max-width: auto;
    min-width: 100%;
    padding: 0 50px;
}

.route-page {
    padding-top: 30px;
    padding-left: 3rem;
    height: 10rem;
}

.main__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content__left {
    padding: 0rem 3rem 0rem 3rem;
    min-width: 100% !important;
    max-width: 100%;
}

.content__right {
    padding: 0rem 1rem 0rem 3rem;
}

.right--item {
    font-size: 1.6rem;
    padding: 1rem;
}

.content__right--button button {
    margin-top: 2rem;
    margin-bottom: 3rem;
    background-color: #e63946;
    border: none;
    color: white;
    /* width: 40%; */
    border-radius: 5px;
    padding: 1.25rem 2.75rem;
}

.content__right--button button:active {
    opacity: 0.89;
    transform: translateY(0.15rem);
}

.content__right--decription {
    margin-top: 5rem;
    padding-top: 2rem;
    border-top: 0.15px solid #ccc;
}


/* code carousel */

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel {
    height: 80.5%;
    overflow: hidden;
    background-color: #eee;
}

.carousel-item {
    max-width: 100%;
}

.carousel-control {
    height: 7rem;
    margin-top: 40.05%;
    display: inline-block;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-self: center;
    clip-path: ellipse(35% 45% at 50% 50%);
}

.carousel-control-prev-icon {
    transform: translateX(40%);
}

.carousel-control-next-icon {
    transform: translateX(-40%);
}

.carousel-control-next {
    transform: translateX(3.5rem);
}

.carousel-control-prev {
    transform: translateX(-3.5rem);
}

.cmt-avatar {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    clip-path: circle(50% at 50% 50%);
}

.comment-item {
    display: grid;
    grid-template-columns: 1fr 6.5fr;
}

.cmt-msg {
    background-color: #ccc;
    min-height: 5rem;
    padding: 0.5rem 0.75rem;
    width: 100%;
}

.cmt-msg p {
    word-wrap: break-word;
}