 /*CAI DAT BAN DAU*/
 
 * {
     margin: 0;
     padding: 0;
     font-family: Lato, sans-serif;
 }
 
 html {
     font-size: 10px;
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     max-width: auto;
 }
 
 *,
 *:before,
 *:after {
     box-sizing: border-box;
 }
 
 input,
 textarea,
 select,
 button {
     outline: none;
 }
 
 input {
     line-height: normal;
 }
 
 label,
 button {
     cursor: pointer;
 }
 
 a {
     text-decoration: none;
 }
 
 img {
     display: block;
     max-width: 100%;
 }
 
 body {
     font-family: "Poppins", sans-serif;
     font-size: 16px;
     line-height: 1;
     width: 100%;
 }
 /*CAI DAT TIEU DE*/
 
 .section-title {
     position: relative;
     top: 0%;
     left: 50%;
     transform: translateX(-50%);
     display: inline-block;
     text-align: center;
     line-height: 2.8rem;
     font-size: 1.8rem;
     background-color: #0a62c7;
     margin-top: 4rem;
     margin-bottom: 2rem;
     border-radius: 2px;
 }
 
 .secondary-title {
     text-align: center;
     margin: 0.5rem 0 0.5rem;
     font-size: 1.8rem;
     text-transform: uppercase;
     font-weight: 400;
     color: white;
     padding: 0.2rem 8rem;
 }
 /* CAI DAT CONTACT */
 
 .Information {
     border-top: 1px solid #e3e6e9;
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: center;
     grid-gap: 5rem;
 }
 
 .social__icons {
     list-style: none;
     padding: 3rem;
 }
 
 .social__icons--item {
     display: inline-block;
     margin: 2rem;
     font-size: 2.8rem;
     cursor: pointer;
     border: none;
 }
 
 .social__icons--item .fab {
     font-size: 3.8rem;
 }
 
 .social__icons--item .fab:hover {
     opacity: 0.9;
     transform: scale(1.05);
 }
 
 .fab-fb,
 .fab-tt {
     color: #034ea1;
 }
 
 .fab-yt {
     color: #ff2c3e;
 }
 
 .fa-instagram {
     background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
     -webkit-background-clip: text;
     /* Also define standard property for compatibility */
     background-clip: text;
     -webkit-text-fill-color: transparent;
 }
 
 .contact {
     list-style: none;
 }
 
 .contact li {
     margin: 1.5rem 0;
     margin-left: 25rem;
 }
 /* CAI DAT FOOTER */
 
 footer {
     color: #e9ecef;
     background-color: #212529;
     padding: 1.4rem;
     text-align: center;
 }
 /*NAV BAR*/
 
 #myNavbar {
     height: 15vh;
     font-size: 1.7rem;
     padding: 0;
 }
 
 #mainNav {
     display: inline-block;
     height: 12vh;
     background-color: yellow;
     padding: 0;
 }