/* Code section-carousel */

.container {
    max-width: auto;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

.section-carousel {
    width: 100%;
    height: 75vh;
}

.carousel {
    width: 100%;
    height: 75vh;
}

.carousel__item {
    width: 100%;
    height: 75vh;
}

.carousel__item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.slick-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
    z-index: 2;
    padding: 1.2rem 1.4rem;
    border: none;
    left: 1rem;
    outline: none;
    background-color: #ffffff;
    border-radius: 0.5rem;
}

.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
    z-index: 2;
    padding: 1.2rem 1.4rem;
    border: none;
    right: 1rem;
    outline: none;
    background-color: #ffffff;
    border-radius: 0.5rem;
}

.slick-arrow:hover,
.slick-arrow:active {
    background-color: #dee2e6;
}

.fa-angle-left,
.fa-angle-right {
    font-size: 2rem;
}

.slick-dots {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex !important;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-direction: row;
    font-size: 10rem;
    gap: 0.7rem;
}

.slick-dots li button {
    background: gray;
    height: 1.4rem;
    width: 1.4rem;
    overflow: hidden;
    color: gray;
    border: none;
    font-size: 0;
    border-radius: 100%;
    outline: none;
}

.slick-dots .slick-active button {
    background-color: white;
}


/* Section  - bestseller */

.section .section-title {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    text-align: center;
    line-height: 2.8rem;
    font-size: 1.8rem;
    background-color: #034ea1;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.secondary-title {
    text-align: center;
    margin: 0.5rem 0 0.5rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    padding: 0.2rem 8rem;
}

.product {
    padding: 0 4rem;
    min-height: 54rem;
}

.product__item {
    margin-top: 2rem;
    padding: 1rem;
    margin: 2rem 1.5rem;
    min-height: 45rem;
    position: relative;
    overflow: hidden;
    border: 0.05px solid #e7e5e5;
}

.product .slick-prev {
    left: 0rem;
    background-color: #dee2e6;
}

.product .slick-next {
    right: 0rem;
    background-color: #dee2e6;
}

.product__item--img {
    overflow: hidden;
    height: 24rem;
    background-color: #eee;
    overflow: hidden;
}

.product__item--img img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    /* transform: translateY(-20%); */
}

.bitis .product__item--img img {
    transform: scale(1.25)
}

.product__name {
    border-top: 1px solid #9c9d9e;
    padding-top: 2rem;
    margin-top: 5rem;
}

.p-name {
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

.product__name a {
    color: #343a40;
    font-size: 1.7rem;
}

.product__name a:hover {
    color: #ef233c;
    text-decoration: none;
}

.product__price {
    margin-top: 1rem;
    color: #ef233c;
}

.product__buy {
    margin-top: 2rem;
    padding: 0.75rem 0rem;
    background-color: #ef233c;
}

.product__buy button {
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.7rem;
    color: white;
    background-color: #ef233c;
}

.product__buy:active {
    opacity: 0.85;
    outline: none;
    transform: translateY(-0.75px);
}

.product__buy {
    display: none;
}

.product__item:hover {
    box-shadow: #eeecec 0px 0px 5px 4px;
}

.img--bitis {
    padding: 25px;
}


/* section-newletters */

.section-newletters {
    margin-top: 4rem;
    background-color: #f8f9fa;
}

.NewLetters {
    height: 20rem;
    text-align: center;
}

.NewLetters input {
    margin-top: 4rem;
    width: 36rem;
    height: 4rem;
    outline: none;
    padding: 0;
    background-color: white;
    color: #343a40;
    border: 2px solid #9c9d9e;
    padding: 0 1rem;
    border-radius: 0.5rem;
    margin-right: 2.5rem;
    font-size: 1.7rem;
}

.NewLetters button {
    padding: 1rem 2rem;
    color: white;
    background-color: #034ea1;
    border: none;
    border-radius: 0.5rem;
}